<div class="sticky-container">
    <div class="share sticky-top sticky-top-offset">
        <ul>       
            <li class="ml-1 mr-1">
                <clap-it style="width:2.2em;height:2.2em;fill:grey;stroke:grey;color:grey;margin:14px auto;" api="https://clapi.vercel.app/api/handler"/>
            </li>
            <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ .Title }}{{ range .Params.tags }} %23{{.}} {{ end }}&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
            <i class="icon-twitter" style="font-size:1.8em"></i>
            </a>
            </li>
            
            <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
            <i class="icon-facebook" style="font-size:1.8em"></i>
            </a>
            </li>
            <li class="ml-1 mr-1">
                <a data-flip-widget="shareflip" href="https://flipboard.com"><img src="https://cdn.flipboard.com/badges/flipboard_sbsw.png" style="opacity: 45%;margin-top: 12px;margin-left: 5px;" /></a><script src="https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js" type="text/javascript"></script>
            </li>     
        </ul>

        {{ if .Params.comment }}
            <div class="sep">
            </div>				
            <ul>
                <li> 
                <a  class="small smoothscroll" href="#disqus_thread"></a>
                </li>
            </ul>
        {{ end }}
    </div>
</div>